<div style="width: 30%">
  <mat-card
    class="example-card"
    [style]="{
      'background-color':
        selectedProductId === productObjInput.id ? 'red' : 'white'
    }"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        {{ productObjInput.id }}
      </div>
      <mat-card-title>{{ productObjInput.title }}</mat-card-title>
      <mat-card-subtitle *ngIf="productObjInput.price < 300 && showCoupon">{{
        productObjInput.price | coupon | currency: "ILS"
      }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="productObjInput.price < 300 && !showCoupon">{{
        productObjInput.price | currency: "ILS"
      }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="productObjInput.price >= 300"
        >Contact us for price</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      [src]="productObjInput.thumbnail"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        {{ productObjInput.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button (click)="addToCart(productObjInput)">Add To Cart</button>
  <button mat-button color="warn" (click)="deleteProduct(productObjInput)">Delete</button>
  <button mat-button color="info" (click)="showCouponAction()">{{DiscountText}}</button> -->
      <button mat-button color="info" (click)="doAction(productObjInput)">
        {{ this.doGeneralActionText }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
